.itemMainImg {
  width: 270px;
  height: 270px;
  background-color: #f0f0f0;

  @media screen and (max-width: 590px)
 {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 137px;
    height: 132px;
    background-color: #D9D9D9;
 }
}

.itemMainImg img {
   width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

.cardImage img {
  @media screen and (max-width: 590px)
   {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
}
}