.searchInput {
  width: 100%;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: transparent;
  padding: 13px 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  @media screen and (max-width: 590px)
 {
  display: none;
 }
}

.nameInput {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 13px 19px;
  width: 300px;

  @media screen and (max-width: 620px)
{
    border-radius: 30px;
    padding: 9px 17px;
    width: 100%;
}
}

.lastNameInput {
  composes: nameInput;

}

.cityInput {
  composes: nameInput;
}

.phoneInput {
  composes: nameInput;
  width: 614px;
  @media screen and (max-width: 620px)
 {
    width: 100%;
}
}
