.search {
  margin-left: 10px;
  width: 158px;
  height: 50px;
  background-color: #009ee4;
  border: 1px solid #009ee4;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;

  &:hover {
    background: #0080c1;
    cursor: pointer;
  }

  @media screen and (max-width: 590px) {
    display: none;
  }
}

.goBack {
  composes: search;
  width: 241px;
  line-height: 1;
  margin-left: 60px;
  max-width: 1044px;
}

.activeSave {
  composes: search;
}

.disabledSave {
  composes: search;
  background: #d9d9d9;
  border: 1px solid #d9d9d9;
  line-height: 1;
  width: 154px;
  margin: 10px 7px 0;

  &:hover {
    cursor: pointer;
    background-color: #d9d9d9;
  }

  @media screen and (max-width: 620px) {
    display: block;
    font-size: 16px;
    line-height: 1;
    width: 100%;
    height: 46px;
    margin: 8px 0px 0;
  }
}

.showPhone {
  composes: search;
  margin-left: 0;
  width: 214px;
  height: 62px;
  font-weight: 500;
  line-height: 22px;
}

.showPhone span {
  display: block;
  font-size: 14px;
  font-weight: 400;
}

.edit {
  composes: search;
  width: 189px;
  margin-right: 10px;
  font-weight: 400;
  line-height: 1;
  margin-right: 0;
  margin-bottom: 10px;
}

.deleteAdv {
  composes: search;
  width: 225px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 10px;
}

.showPhoneSellerProfile {
  composes: showPhone;
  margin-top: 20px;
}

.signIn {
  composes: search;
  width: 278px;
  height: 52px;
  margin-top: 60px;
  margin-bottom: 20px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.05px;
}

.signUp {
  composes: signIn;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 1px solid #d0cece;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.05px;
  color: #000000;
}

.signUpButton {
  composes: signIn;
  height: 44px;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 0;
}

.saveAdvSettings {
  margin-top: 10px;
  width: 141px;
  height: 50px;
  background: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;

  &:hover {
    background-color: #0080c1;
  }
}

.publish {
  margin-top: 10px;
  width: 181px;
  height: 50px;
  background: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  &:hover {
    background-color: #0080c1;
  }
}
