.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  max-width: 1178px;
  margin: 0 auto;
  padding: 0px 10px 79px;
}

.mainCenterBlock {
  margin: 0 auto;
}

.header {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 30px;
}

.headerSellersGoods {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  color: #000000;
}

.loadingSpinnerWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.loadingSpinner {
  border: 4px solid #330a60;
  border-top: 4px solid #e0e0e0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  animation: spin 2s linear infinite;
}
