.menuWrapper{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: start;
    width: 100%;
    padding: 31px 10px 64px;
}