.mainEnter {
  width: 224px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  line-height: 1;

  &:hover {
    background-color: #0080c1;
    cursor: pointer;
  }

  @media screen and (max-width: 590) {
    display: none;
  }
}

.advertisement {
  composes: mainEnter;
  width: 232px;
  &:hover {
    background: rgba(255, 255, 255, 0.15);
    cursor: pointer;
  }
  @media screen and (max-width: 620px) {
    display: none;
  }
}

.account {
  width: 173px;
  margin-left: 10px;
  composes: advertisement;

  @media screen and (max-width: 620px) {
    display: none;
  }
}
