.articleInfo {
  margin-bottom: 34px;
}

.article {
  font-size: 16px;
  line-height: 21px;
  color: #5f5f5f;
  margin-bottom: 4px;
}

.articleLink {
  font-size: 16px;
  line-height: 21px;
  color: #009ee4;
  text-decoration: none;
  font-weight: 600;
  font-family: 'StratosSkyeng', sans-serif;
  cursor: pointer;
  &:visited {
    text-decoration: none;
    font-family: 'StratosSkyeng', sans-serif;
    cursor: pointer;
  }
}
