.formBlock {
  width: 100%;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.input {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  padding: 13px 19px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;

  &::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.3);
  }
}
