.infoWrapper {
  width: 100%;
  padding: 0 0 70px;
}

.content {
  width: 100%;
}

.info {
  display: flex;
  -webkit-box-pack: flex-start;
  justify-content: flex-start;
}

.loadingSpinnerWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.loadingSpinner {
  border: 4px solid #330a60;
  border-top: 4px solid #e0e0e0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  animation: spin 2s linear infinite;
}
