.sellerPageHeading {
  background-color: #009ee4;

  @media screen and (max-width: 580px) {
    width: 100%;
    height: 55px;
    -webkit-box-shadow: 0px 4px 25px rgb(0 0 0 / 5%);
    box-shadow: 0px 4px 25px rgb(0 0 0 / 5%);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
  }
}

.profileHeading {
  composes: sellerPageHeading;
  @media screen and (max-width: 620px) {
    width: 100%;
    height: 55px;
    -webkit-box-shadow: 0px 4px 25px rgb(0 0 0 / 5%);
    box-shadow: 0px 4px 25px rgb(0 0 0 / 5%);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
  }
}

.navHeader {
  max-width: 1178px;
  margin: 0 auto;
  padding: 0 10px;
  height: 79px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;

  @media screen and (max-width: 620px) {
    height: 55px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    padding: 0 20px;
  }
}

.logoMobBlock {
  display: none;
  @media screen and (max-width: 620px) {
    display: block;
  }
}
