.main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    max-width: 1178px;
    margin: 0 auto;
    padding: 0px 10px 79px;
}

.heading {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.myGoodsHeading{
    font-size: 32px;
    line-height: 70px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 20px;
}
