.linkHeading {
  text-decoration: none;
  cursor: pointer;

  &:visited {
    text-decoration: none;
  }
}

.cardTitle {
  height: 52px;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  color: #009ee4;
  margin-bottom: 10px;
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (max-width: 620px) {
    height: 51px;
    font-size: 14px;
    line-height: 17px;
    color: #009ee4;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  @media screen and (max-width: 590px) {
    height: 51px;
    font-size: 14px;
    line-height: 17px;
    color: #009ee4;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.cardPrice {
  color: #000000;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  margin-bottom: 10px;

  @media screen and (max-width: 620px) {
    font-size: 16px;
    line-height: 24px;
  }

  @media screen and (max-width: 590px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.cardPlace {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 21px;
  color: #5f5f5f;

  @media screen and (max-width: 620px) {
    font-size: 12px;
    line-height: 16px;
    color: #5f5f5f;
  }

  @media screen and (max-width: 590px) {
    font-size: 12px;
    line-height: 16px;
    color: #5f5f5f;
  }
}

.cardDate {
  font-size: 16px;
  line-height: 21px;
  color: #5f5f5f;

  @media screen and (max-width: 620px) {
    font-size: 12px;
    line-height: 16px;
    color: #5f5f5f;
  }

  @media screen and (max-width: 590px) {
    font-size: 12px;
    line-height: 16px;
    color: #5f5f5f;
  }
}
