
.newAdvWrapper {
	position: absolute;
    z-index: 5;
    left: calc(50% - (600px/2));
    top: 60px;
    opacity: 1;
}

.newAdvContent {
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
	flex-direction: column;
    -webkit-box-align: start;
	align-items: flex-start;
    width: 600px;
    height: auto;
    padding: 32px 50px 42px;
    background-color: #FFFFFF;
    border-radius: 12px;
    position: relative;
}

.advHeading{
	font-size: 32px;
    line-height: 46px;
    font-weight: 500;
    color: #000000;
}

.advSettingsForm{
	margin-top: 22px;
	display: flex;
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
	flex-direction: column;
    width: 100%;
}