// .modalBlock {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: rgba(244, 245, 246, 0.7);
// }

// .modalDisplayNone {
//   display: none;
// }

// .modalAdvBlock {
//   composes: modalBlock;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .modalAdvBlock div {
//   width: 300px;
//   height: 100px;
//   background-color: white;
//   text-align: center;
//   font-size: 18px;
//   font-weight: 500;
// }
