.descriptionWrapper {
  max-width: 1178px;
  margin: 0 auto;
  padding: 0px 5px;
}

.title {
  margin-bottom: 32px;
  padding: 0 5px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 500;
  color: #000000;
}

.contentBlock {
  max-width: 792px;
  width: 100%;
  padding: 0 5px 117px;
}

.content {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
